<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="SiriDB Server - a time series database" />
<meta name="keywords" content="Database,Python,C,Time,Series,Scalable" />
<meta name="author" content="Jeroen van der Heijden" />
<meta charset="utf-8" />
<title>SiriDB Server</title>
#if @debug:
<link rel="stylesheet" href="/static/css/lib/bootstrap.css" />
<link rel="stylesheet" href="/static/css/lib/font-awesome.css" />
<link rel="stylesheet" href="/static/css/style.css" />
#else
<link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/lib/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/style.min.css" />
#end
<link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>

#macro nav:
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" data-keyboard="true" data-toggle="modal" data-target="#siridb-modal" onclick="app.openModal()">
                <span class="siridb-logo"></span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-query" data-target="#query-view"><a href="#query">Query</a></li>
                <li id="nav-insert" data-target="#insert-view"><a href="#insert">Insert</a></li>
                <li id="nav-insert" data-target="#auth-view"><a href="#auth">Sign out</a></li>
            </ul>
        </div>
    </div>
    <div class="alert alert-warning" id="license-warning-container"></div>
</nav>

<div id="siridb-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        <div class="siridb-logo-container"><span class="siridb-logo-large"></span></div>
        <dl class="dl-horizontal">
            <dt>Database:</dt><dd id="modal-database"></dd>
            <dt>SiriDB:</dt><dd id="modal-version"></dd>
            <dt>License:</dt><dd id="modal-license"></dd>
            <dt></dt><dd><a data-keyboard="true" data-dismiss="modal" data-toggle="modal" data-target="#license-modal" onclick="app.licenseModal()">change license</a></dd>
        </dl>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="license-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        <div class="siridb-logo-container"><span class="siridb-logo-large"></span></div>
        <form role="form" id="license-form">
            <div id="license-message-container"></div>
            <div id="insert-license-code-group" class="form-group">
                <label for="license-code">Enter your license code</label>
                <textarea type="text" class="form-control" id="license-code" spellcheck="false" rows="8"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn-close-license-modal" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default" id="btn-change-license" onclick="app.changeLicense()">Submit</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
#end

<script id="auth-view" type="text/html">
    <div class="container container-main">
        <span class="siridb-logo-large"></span>
        #if @databases:
        <div id="auth-form" class="form" role="form">
            <div id="auth-message-container"></div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                <input type="text" class="form-control" id="username-input" placeholder="Username" spellcheck="false" maxlength="60" />
            </div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                <input type="password" class="form-control" id="password-input" placeholder="Password" spellcheck="false" maxlength="128" />
            </div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                <select id="database-selection" class="form-control siri-select">
                #for @dbname in @databases:
                    <option value="@dbname">@dbname</option>
                #end
                </select>
            </div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 form-group">
                <button class="btn btn-default" type="button" id="btn-sign-in" onclick="app.signIn(app.nextView, app.nextCallback)">Sign in</button>
            </div>
        </div>
        #else
        <div class="alert alert-warning">
        There's no database found on this server. First join or create a database using 'siridb-manage' and next refresh the browser.
        </div>
        #end
    </div>
    <div id="messageholder"></div>
    <div id="contentholder"></div>
</script>

<script id="query-view" type="text/html">
    <div class="container">
        #nav
        <div class="form" role="form">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" id="query" placeholder="Enter query" spellcheck="false" maxlength="16384" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btn-run-query" onclick="app.runQuery()">Run</button>
                    </span>
                    <div id="autocomplete-popup"><ul></ul></div>
                </div>
            </div>
        </div>
        <div id="messageholder"></div>
        <div id="contentholder">Welcome <span class="name-holder"></span>! type <code>help</code> for help</div>
    </div>
</script>

<script id="insert-view" type="text/html">
    <div class="container">
        #nav
        <div id="insert-message-container"></div>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" id="q156" name="insert-type" value="json-object" checked="checked" /> json (object)
            </label>
            <label class="btn btn-default">
                <input type="radio" id="q157" name="insert-type" value="json-array" /> json (array)
            </label>
            <label class="btn btn-default">
                <input type="radio" id="q158" name="insert-type" value="csv-flat" /> csv (flat)
            </label>
            <label class="btn btn-default">
                <input type="radio" id="q159" name="insert-type" value="csv-table" /> csv (table)
            </label>
        </div>

        <form id="insert-form-json-object" role="form">
            <div id="insert-group-json-object" class="form-group">
                <label for="insert-json-object">Enter json data</label>
                <textarea type="text" class="form-control" id="insert-json-object" spellcheck="false"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn-insert-json" onclick="app.runInsert('json', this)">Submit</button>
        </form>
        <form id="insert-form-json-array" role="form">
            <div id="insert-group-json-array" class="form-group">
                <label for="insert-json-array">Enter json data</label>
                <textarea type="text" class="form-control" id="insert-json-array" spellcheck="false"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn-insert-json" onclick="app.runInsert('json', this)">Submit</button>
        </form>
        <form id="insert-form-csv-flat" role="form">
            <div id="insert-group-csv-flat" class="form-group">
                <label for="insert-csv-flat">Enter csv data</label>
                <textarea type="text" class="form-control" id="insert-csv-flat" spellcheck="false"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn-insert-csv-flat" onclick="app.runInsert('csv', this)">Submit</button>
        </form>
        <form id="insert-form-csv-table" role="form">
            <div id="insert-group-csv-table" class="form-group">
                <label for="insert-csv-table">Enter csv data</label>
                <textarea type="text" class="form-control" id="insert-csv-table" spellcheck="false"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn-insert-csv-table" onclick="app.runInsert('csv', this)">Submit</button>
        </form>
    </div>
</script>

<script id="page-not-found-view" type="text/html">
    <div class="container">
        <div class="jumbotron">
            <h1>Oops...</h1>
            <p>This page does not exist!</p>
            <p><a class="btn btn-default btn-lg" href="#" role="button">Back to home</a></p>
        </div>
    </div>
</script>

<div id="view"></div>

#if @debug:
<script src="static/js/lib/jsleri-1.0.8.js"></script>
<script src="static/js/lib/jquery-2.1.4.js"></script>
<script src="static/js/lib/bootstrap.js"></script>
<script src="static/js/lib/routie.js"></script>
<script src="static/js/lib/moment.js"></script>
<script src="static/js/lib/showdown.js"></script>
<script src="static/js/lib/flot/jquery.flot.js"></script>
<script src="static/js/lib/flot/jquery.flot.time.js"></script>
<script src="static/js/lib/oz.js"></script>
<script src="static/js/grammar.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/router.js"></script>

#else
<script src="static/js/lib/jsleri-1.0.8.min.js"></script>
<script src="static/js/lib/jquery-2.1.4.min.js"></script>
<script src="static/js/lib/bootstrap.min.js"></script>
<script src="static/js/lib/routie.min.js"></script>
<script src="static/js/lib/moment.min.js"></script>
<script src="static/js/lib/showdown.min.js"></script>
<script src="static/js/lib/flot/jquery.flot.min.js"></script>
<script src="static/js/lib/flot/jquery.flot.time.min.js"></script>
<script src="static/js/lib/oz.min.js"></script>
<script src="static/js/app.min.js"></script>
#end
</body>
</html>