<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <title>SiriDB - Loading...</title>
    #if @debug:
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet/less" type="text/css" href="/static/css/layout.less">
    <script type="text/javascript" src="/static/js/libs/less.min.js"></script>
    #else:
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    #end
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="container container-start">
        <div class="row logo">
            <img src="/static/img/siridb-large.png" alt="SiriDB Logo" />
        </div>
        <div class="row">
            <p class="center">
                <span>Waiting for a SiriDB connection...</span>
                <img src="/static/img/loader.gif" alt="Loading bar" width=20 height=10 />
            </p>
        </div>
    </div>
</body>
<script>
    window.setTimeout(function() { window.location.reload(); }, 5000);
</script>
</html>